.paginationContainer{
  margin-bottom: 20px;
}

.pageBtn{
  width:30px;
  margin: 5px;
}

.currentPageBtn{
  width:30px;
  margin: 5px;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 820px) {
  .paginationContainer{
    margin: 20px;
  }
} 