.modalBox {
  position: fixed;
  background-color: rgba(
    160,
    132,
    132,
    0.459
  ); /*делаем прозрачное модальное окно*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 800px;
  height: 500px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
  padding: 1.5rem;
  word-break: break-word;
}

.modalClosed {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modalBody {
  display: block;
  text-align: center;
  line-height: 40px;
  padding: 100px 0;
}

@media (max-width: 820px){
  .modal{
    width: 500px;
  }

  .modalBody{
    padding: 50px 0;
  }
}

@media (max-width: 500px){
  .modal{
    width: 350px;
  }

  .modalBody{
    padding: 20px 0;
  }
}